<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include ("./header.ejs") %>

  <title>ML서버</title>

  <link rel="stylesheet" href="/file/css/main.css">
</head>
<body>
  <h2>ML서버</h2>
  <div class="a">
    <a href="/rule">서버 규칙</a>
  </div>
  <div class="a">
    <a href="/guide">서버 가이드</a>
  </div>
</body>
</html>