<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include ("./header.ejs") %>

  <title>ML서버 규칙</title>

  <link rel="stylesheet" href="/file/css/main.css">
</head>
<body>
  <h2>ML서버 규칙</h2>
  <div class="back">
    <a href="/">돌아가기</a>
  </div>
  <%- rules %>
</body>
</html>