
body {
  padding: 5px 5px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 100px;
}
h2 {
  font-size: 45px;
}
a {
  font-weight: bold;
  color: rgba(0, 0, 255, 0.8);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 0, 255, 0.4);
}
.back {
  font-size: 25px;
  margin-bottom: 40px;
}
.back a {
  color: rgba(0, 255, 0, 0.8);
}
.back a:hover {
  color: rgba(0, 255, 0, 0.4);
}
.a {
  font-size: 30px;
  margin-bottom: 30px;
}
.text {
  font-size: 20px;
  margin-bottom: 20px;
}
.text a {
  font-size: 30px;
}
.err {
  font-size: 30px;
  color: rgba(255, 0, 0, 0.8);
}
.title {
  font-weight: bold;
}

img {
  margin: 10px auto;
  max-width: 60%;
  height: auto;
}

@media (max-width: 767px) {
  img {
    margin: 10px auto;
    max-width: 90%;
    height: auto;
  }
}

.zip {
  color: rgba(0, 255, 255, 0.8);
}
.zip:hover {
  color: rgba(255, 0, 255, 0.8);
}